.content{
    margin-left: 10% !important;
    margin-right: 10% !important;
    border: 1px solid #9cdef8 !important;
    border-radius: 10px !important;
    box-shadow: 0px 1px 5px grey !important;
    padding: 10px 20px !important;
    color: #0072bc !important;
}
h2{
    font-weight: 600 !important;
    margin-top: 30px !important;
    margin-left:20px !important;
}
h3{
    font-size: 22px !important;
    font-weight: 600 !important;
    margin-top: 30px !important;
    margin-left: 20px !important;
}
.form-row{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #0072BC;
    align-items: center;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}
.form-item > input{
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #F27317;
    border-bottom: 2px solid #0072bc;
}
.form-item > select{
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #F27317;
    border-bottom: 2px solid #0072bc;
}
.form-item> input[type=date]{
    font-size: 16px;
    font-weight: 600;
    color: #F27317;
}
.form-item > input:focus{
    border-bottom: 2px solid #f89c30;
}
.form-item > label{
    font-weight: 600;
}
.form-item > p {
    font-size: 11px;
    color: gray;
}
.form-item > div> p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 11px;
    color: gray;
}
.note-para{
    font-size: 14px;
    color: gray;
    width: 70%;
    margin-left: 20px;
}
.address-row{
    width: 400px;
}
#next-btn{
    /* margin-top: 20px; */
    padding: 12px 20px;
    margin-left: 10px;
    /* margin-right: 30px; */
    font-weight: 600;
    font-size: 15px;
    color: white ;
    background-color: #F27317;
    border: 1px solid #F27317;
    border-radius: 20px;
    transition: 0.3s;
    margin-right: 70px;
}
#next-btn:hover{
    cursor: pointer;
    background-color: white;
    color: #F27317;
    
}
#add-beneficiary{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: white ;
    background-color: #F27317;
    border: 1px solid #F27317;
    border-radius: 20px;
    transition: 0.3s;
    margin-right: 70px;
}
#add-beneficiary:hover{
    cursor: pointer;
    background-color: white;
    color: #F27317;
}
.document-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.document-table thead tr {
    text-align: left;
    border: 1px solid black;
}
.document-table th,
.document-table td {
    padding: 5px 12px;
    border: 1px solid black;
}
.document-table tbody tr {
    border: 1px solid black;
}

.document-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
/* 
.document-table tbody tr:last-of-type {
    border-bottom: 2px solid #F27317;
} */
.remove-btn{
    cursor: pointer;
    color: red;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    padding: 0 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #F27317;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #F27317;
}
ul{
    list-style-type: none;
}
.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    display: flex;
    /* justify-content: space-around; */
    margin-left: auto;
    padding: 0;
  }
  
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    /* border-bottom: none; */
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: white;
    /* border-color: black; */
    border-radius: 20px;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  /* .react-tabs__tab:focus {
     box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none; 
  } */
  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
.tab-progress {
    margin-top: 20px !important;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 7px;
    width: 40px;
    border:2px solid gray;
    border-radius: 20px ;
  }
  .react-tabs__tab--selected > div{
      text-align: center;
  }
  .react-tabs__tab--selected > div > .tab-progress {
    background-color: #0072bc;  
    color: white;

  }
  /* .react-tabs__tab::before{
    content: '';
    width: 100%;
    height: 4px;
    background: #feda00;
    position: absolute;
    left: 0;
    top: -17px;
    z-index: 0;
  } */
  .connecting-line{
    content: '';
    width: 100%;
    height: 4px;
    background: #F27317;
    position: relative;
    left: 0;
    top:45px;
    z-index: 0;
  }
  .asset-tab{
      margin: 10px;
      padding: 10px;
      border: 1px solid gray;
  }