@font-face {
  font-family: 'AllianzSans Bold';
  font-style: normal;
  src: local('AllianzSans Bold'), url('./AllianzSans Bold.otf') format('opentype');
  }

*{
  
  font-family: "AllianzSans Bold";
}

body {
  
  margin: 0;
  margin-top: -25px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


